.fetching-balance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.balance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.balance-wallets {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

